html,
body {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    text-align: center;
}

:root {
  --primary-color : #3F5CC2;
  --success-color : #3FC27C;
  --danger-color : #fff;
  --bg-light : #ECECEC;
  --bg-darker: #E4E4E4;
  --bg-primary: #fff;
  --text-primary: #171717;
  --text-invert: #DEDEDE;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
