.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: #ccc;
    padding: 0 2em;
    height: 60px;
    margin-top: 2em;
}
