.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    background-color: var(--bg-1);
    padding: 0 2em;
    height: 60px;
    margin-top: 2em;
    position: relative;
}

.toggler {
    height: 100%;
    position: absolute;
    right: 5%;
    top: 25%;
}

<<<<<<< HEAD
@media screen and (max-width: 640px) {
    .nav {
        width: 100%;
=======
@media screen and (max-width:600px) {
    .nav{
        width: 95%;
>>>>>>> 1fcd59b0bc572269e7b740f5a825e675568812fd
    }
}