.question {
    width: 350px;
    height: 200px;
    background-color: var(--bg-1);
    margin: 1em;
    padding: 1em;
    border-radius: 0.2em;
    overflow: auto;
    text-align: justify;
    border-radius: 10px;
    border: solid 2px #fff;
}

.questionContent {
    text-align: center;
    margin: 0 auto;
    display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.questionMessage {
    text-align: center;
    
}

.btnSuccess {
    font-size: 1em;
    padding: 0.6em;
    margin-top: 0.8em;
    font-weight: 600;
    border: none;
    border-radius: 0.3em;
    background-color: var(--success-color);
    color: #000;
}

.btnDanger {
    font-size: 1em;
    padding: 0.6em;
    margin-top: 0.8em;
    font-weight: 600;
    border: none;
    border-radius: 0.3em;
    background-color: #f00;
    color: #000;
    cursor: pointer;
}
